<div id='create-todo'>
  <div>
    <h2>create new todo</h2>
    <form id='todo-form'>
      <input type='text' id='todo-name' placeholder='write a meaningful title...' required />
      <input type='text' id='todo-description' placeholder='write a description, so that you remember what to do!...' />
      <input type='date' title='datum' id='todo-due-date' required />
      <select title='importance' id='todo-importance' required>
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
      </select>
        <button id='buttonSave' type='submit' data-action='saveAndBack' class='small-button'>
            save
        </button>
    </form>
  </div>
    <div>

        <button id='backButton' type='button' class='small-button'>back</button>
    </div>
</div>