/* Global styles */
:root {
  --pink1: #ebc7fd;
  --pink2: #c453de;
  --pink3: #cc18c3;
  --green1: #3a8c3d;
  --green2: #275e28;
  --white1: #f5f5f5;
  --white2: #eaeaea;
  --black1: #5d5165;
  --black2: #4b4747;
  --black3: #131313;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white2);
  color: var(--black3);
}

h1 {
  font-size: 36px;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 100px;
  background-color: var(--pink1);
}

button {
  padding: 16px 32px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--pink2);
  color: var(--white2);
  cursor: pointer;
}

header button {
  margin-left: 10px;
}

/* Main styles */
main {
  margin-top: 20px;
  margin-bottom: 20px;
}

button:hover {
  background-color: var(--pink3);
  color: var(--black3);
}

.sort-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 0;
}

.sort-button {
  padding: 8px 32px;
  font-size: 20px;
  border-radius: 10px;
  background-color: var(--white2);
  color: var(--pink2);
  border: 3px solid var(--pink2);
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin: 0 8px;
}

.sort-button:hover {
  background-color: var(--pink3);
  color: var(--black3);
}

section {
  margin-bottom: 20px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: var(--pink1);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.todo-details {
  flex: 1;
  padding-right: 100px;
}

.todo-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.todo-description {
  font-size: 14px;
  margin-bottom: 5px;
}

.todo-actions {
  display: flex;
  align-items: center;
}

.edit,
.status {
  margin-right: 10px;
}

.edit-todo-button,
.todo-status-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: var(--pink2);
  color: var(--white2);
  cursor: pointer;
}

.edit-todo-button {
  background-color: var(--pink2);
  color: var(--white2);
}

.edit-todo-button:hover {
  background-color: var(--pink3);
  color: var(--black3);
}

.todo-status-button {
  background-color: var(--pink2);
  color: var(--white2);
}

.todo-status-button.done {
  background-color: var(--green1);
  color: var(--white2);
}

.todo-status-button.done:hover {
  background-color: var(--green2);
  color: var(--black3);
}

#create-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--pink1);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Footer styles */
footer {
  padding-left: 100px;
  padding-top: 20px;
}

/* Dark Mode */

body.dark-mode {
  background-color: var(--black2);
  color: var(--white1);
}

header.dark-mode {
  background-color: var(--black1);
}

.todo.dark-mode {
  background-color: var(--black2);
  color: var(--white1);
}

#create-todo.dark-mode {
  background-color: var(--black1);
}
